~FT--==--==--==->-==--==--==-<-==--==--==--==--==--==-<-==--==--==->-==--==--==--
~FYCommand Name~CB:~RS rules
~FT--==--==--==->-==--==--==-<-==--==--==--==--==--==-<-==--==--==->-==--==--==--
Command Usage: .rules
  
Synopsis:
  Displays the rules of the talker. The user must abide by these rules
  if they wish to keep their account on the talker.
~FT--==--==--==->-==--==--==-<-==--==--==--==--==--==-<-==--==--==->-==--==--==--

