--==--                                                                    --==--

  README : config

  OUTLINE:
    This readme is to allow the person using this code you shouldn't bother
    editing the config file manually, as there are lots of different tools
    to build one automatically for you.  It does show the different options
    which are set in the config file, and provides a description of what
    each of them do.

  Last Updated: August 3rd, 2001
--==--                                                                    --==--

	Before you go into editing the config file, you should know that
you can set all your options without manually editing the config file, there
is a tool in the bin directory called 'mkconfig.sh' which generates the first
config file that you want to use. After you use that for the first time, you
can then use the '.change' command on the talker to change any values which
you may want to change.

	The RaMTITS config file works pretty much the same way that a normal
NUTS talker works. I'll just take a moment and explain what each of the options
you can configure yourself mean.
In the INIT: section:

  mainport         : The talker's main port, this is the port that all the users
  -----------------  will be connecting to. (Default 5000)

  wizport          : This is the staff port, only staff members may log in from
  -----------------  this port... also, logging into this port, 'hides' the user
                     meaning it doesn't display his/her login message, as well
                     as display to the rest of the users logged onto the talker.

  minlogin_level   : This is for when you'd like to lock off the talker, or
  -----------------  close it off for certain levels. If you specify a level,
                     then only users who are a level higher then the set level
                     may log onto the talker, otherwise they are disconnected.
                     If you wish to turn it off, you must specifiy "NONE",
                     otherwise specify it with the name of the level.
                     (Default: NONE)

  mesg_life        : This is the amount of days before old messages on message
  -----------------  boards in rooms get deleted. (Default: 7)

  wizport_level    : The name of the level which may log onto the staff port.
  -----------------  (Default: WIZ)

  prompt_def       : Choose from either ON or OFF:
  -----------------  OFF  Disables users getting a prompt everytime they
                          enter in a command, or type speech.
                     ON   Turns on a default prompt which means every new user
                          that creates an account will have a 'prompt' displayed
                          everytime they enter a command, or say somethig.
                     Most people find this annoying when it's ON by default,
                     hence I keep it OFF. (Default: OFF)

  gatecrash_level  : This option allows any user who is of the specified level
  -----------------  or higher to go into virtually any room they like, EXCEPT
                     FOR PERSONAL rooms. This level should be kept high.
                     (Default: OWNER)

  min_private      : Amount of users who must be in a room before it's access
  -----------------  can be changed to private. (Default: 2)

  ignore_mp_level  : This option gives anyone who is of the specified level or
  -----------------  higher the ability to ignore the amount of users specified
                     in the min_private field. (Default: GOD)

  max_users        : The max. amount of users allowed on the talker at one time.
  -----------------  You should only change this to above 50 if you are in fact
                     going to have more then 50 users on at anyone time.
                     Normally tho, 50 is a nice round number that appears to
                     be good. (Default: 50)

  heartbeat        : How often in seconds, the talker sends input to itself. You
  -----------------  shouldn't really need to change this, as everything works
                     as it should at 2. If you do change it, you may start
                     causing problems with your talker. (Default: 2)


  mesg_check_time  : This is the time that the talker rotates the logs, backs
  -----------------  up talker files, and generally does maintenance. This time
                     should be changed, and to a time when the system
                     administrator of your server won't mind some moderate
                     CPU usage. It should be changed because if several talkers
                     all run their maintenance at the same time, it could then
                     cause some severe lag on some servers. (Default: 01:00)

  login_idle_time  : This is the amount of time in seconds in which users are
  -----------------  allowed to idle at the talker's login prompt.
                     (Default: 180)

  user_idle_time   : This is the amount of time in seconds in which users are
  -----------------  allowed to idle before disconnection. It's a generally bad
		     idea to change this option as the talker idles users out,
		     after approximately 60 minutes, but sends a warning to them
		     after 10 minutes (based on this time). So if you change
                     this number, make sure you set it to something above ten
                     minutes. (Default: 3600)

  password_echo    : Choose from either YES or NO:
  -----------------  YES  to echo users passwords at the login prompt,
                     NO   to not display the user's password as they type it.

		     NOTE: It's a good idea to keep this to NO as for user
			   security concerns, in case someone is peeking over
			   your user's should while he/she is entering their
			   password. (Default: NO)

  ignore_sigterm   : Choose from either YES or NO:
  -----------------  NO   The talker will exit normally and cleanly,
                     YES  The talker will ignore certain signals such as
                          SIGSEGV, and SIGBUS, and attempt to keep the talker
                          running, but if you do specify yes here, and the
                          talker does keep running, it's just running on
                          borrowed time, it will eventually cease operating,
                          this should be set to NO, and just have crash_action
                          set to SREBOOT.
                     (Default: NO)

  max_clones       : The maximum amount of clones that a user can have at any
  -----------------  given time. (Default: 3)

  ban_swearing     : Choose from either YES or NO:
  -----------------  YES  if you don't want users to use naughty words,
                     NO   if you just don't give a f*ck.
                     If this option is set to YES, then if a user says one
                     of the talker defined swear words, it will let the user
                     know that they can't say such bad words. (Default: NO)

  crash_action     : Choose from either NONE, IGNORE, REBOOT, or SREBOOT
  -----------------  NONE     Do nothing, just let the talker do whatever it
                              wants to do, (basically shut itself down.)
                     IGNORE   Obsolete, don't use this option. I haven't tested
                              it in RaMTITS version 2, and I have no real
                              desire for it to stay in the code.
                     REBOOT   Perform a hard reboot, shuts down the talker,
                              disconnects all users, and re-runs the executable.
                     SREBOOT  Perform a 'soft/seamless' reboot. Reboots the
                              talker without disconnecting any of the users.
                              Only minor things will change, such as user's
                              game's being killed, and stuff like that.
                     (Default: SREBOOT)

  time_out_afks    : Choose from either YES or NO:
  -----------------  YES  The talker will disconnect those idle people who
                          ARE afk, as well as those who aren't AFK.
                     NO   Let those people who are AFK get away with being
                          idle forever and ever.
                     (Default: YES)

  charecho_def     : Choose from either OFF or ON:
  -----------------  OFF  Sets the users character mode echoing (if a new user)
                          to off, so it won't echo local text back to the user.
                     ON   When a user logs on and creates their account for
                          the first time, this will set the character echo
                          on for the user (until they turn it off themself).
                          Meaning it will echo whatever they type, so for
                          terminals which already do give off a local echo,
                          mixed with this it could be bad...
		     (Default: OFF)

  timeout_max_level: The level in which users won't get idled out by the
  -----------------  'user_idle_time' option. (Default: WIZ)

  backup_talker    : Choose from either OFF or ON:
  -----------------  OFF  The talker won't do any backup operations.
                     ON   The talker will backup critical files, such as user
			  files, datafiles, etc, and store them in a backup
			  directory which must be specified AND created by
			  the user installing the code.  If you ask a question
			  like 'Why aren't my talker files being backed up
			  properly?' I'll know you didn't read this README.
			  For more info on this, see README.backup
		     (Default: OFF) (It's default to OFF because it'll perform
				     unneeded tasks and take up your servers
				     load average if left on and not configured
				     properly.)

  debug_talker     : Choose from either OFF or ON:
  -----------------  OFF  Disable talker debugging, the command buffer doesn't
                          get saved to a file.
                     ON   If the talker crashes, and this is set to ON, then a
                          log file will be created with misc information on
                          almost everything that was happening on the talker
                          when it crashed. To see the logfile use
                          '.view -debug [PID]'
		     (Default: ON)

  webpage_on       : Choose from either OFF or ON:
  -----------------  OFF  Disable talker generated webpages, (webpages that are
                          made when a user set's something, or when users log
                          on or off).
                     ON   Enables the talker's webpage 'generator' it creates
                          webpages when a user uses the .set command, or when
                          they log on or off the talker. If you plan on turning
                          this on, please see 'README.webpages' in the same
                          directory as this file.
                     (Default: OFF)

  arrest_swearers  : Choose from either YES or NO:
  -----------------  YES  The talker will 'arrest' users who say bad words,
                          putting them in jail, and forbidding them from using
                          the majority of their commands.
                     NO   Don't arrest the people who say naughty words.
                     (Default: NO)

  free_rooms       : Choose from either YES or NO:
  -----------------  YES  Allow users to have their own home room upon creation
                          of their user account. (They can use .home upon
                          logging into the talker for the first time.)
                     NO   Make it so that the users have to purchase their rooms
                          from the store. It's kinda better this way, it in a
                          way encourages users to come on, earn money so they
                          can purchase their rooms.
                     (Default: NO)

  auto_promote     : Choose from either YES or NO:
  -----------------  YES  The talker will ask the user a bunch of questions upon
                          them logging in for the first time, and once they
                          have answered all the questions, they will be auto-
                          matically promoted to the next level.
                     NO   The talker won't prompt them to answer questions upon 
                          logging in for the first time, it is then up to a
                          staff member to promote this user.
                     (Default: YES)

  auto_auth        : Choose from either OFF or ON:
  -----------------  OFF  Don't perform ident lookups on the user as they
                          connect to the talker.
                     ON   Attempt to connect to an ident daemon on the user's
                          computer to find out their username from the server.
                          This is good if the user's ISP, or the user themself
                          is running an ident daemon. To see if the auth
                          succeeded, use '.getname [user]'.
                     (Default: ON)

  main_room        : This is the main room of the talker, the talker requires
  -----------------  three (3) rooms to be loaded at boot time, and these are
		     the only rooms which will never be taken out of memory.
		     When a user logs onto the talker, this is the room in
		     which they'll start out in.  For more information on the
		     config rooms, see the note below the 'jail_room' option.
                     (Default: main)

  idle_room        : This is the room in which users who are idle for more then
  -----------------  ten (10) minutes get sent to.  There is no current way to
		     disable this as of yet, but if people would prefer not to
		     use the idle room still specify a name for the room, just
		     set the time_out_maxlevel to NEWBIE.
                     (Default: idle_room)

  jail_room        : This is the room that bad users get sent to when they are
  -----------------  '.arrest'ed, or they say a bad word, and the talker has
		     is set to arrest swearers.
                     (Default: jail)


  NOTE ON CONFIG ROOMS: The three rooms mentioned above are the ONLY rooms which
			are loaded in memory constantly. The talker depends on
			these rooms, so messing around with them may not be
			a very good idea.  If you want your room name to contain
			spaces ' ' replace the space with an underscore '_' in
			the actual room name, for example:
				I want my room name to be "My Main Room"
				the config file would look like:
				"my_main_room"
			Otherwise the talker will only take the first word from
			your room name (ie "My" in my example) and set the room
			name to that.  If you want your room name to contain
			an underscore, well, that's just too bad for you ;p


	Please don't edit the config file manually there are two tools you can
use to configure everything in the config file (.change and the shell script
make_config). Once you use the '.change' command, the config file loaded will
then be 'config.talker'.  If you do decide to mess around with it, then you
can use the default values that the mkconfig.sh uses. (Just re-run the shell
script and if the 'config.talker' file exits, delete it.

--==--                                                                    --==--

   If you have any questions or concerns reguarding this README, please feel
   free to contact me at:

	squirt@ramtits.ca

   Or if you're have a problem configuring something, please be sure to check
   the RaMTITS help forum at:

	http://forum.ramtits.ca

   There is also a talker made for talker coders, and talker owners. If you
   would like to visit it, it can be found at:

        ramtits.ca 6980

--==--                                                                    --==--
